{% extends 'base.html' %}

{% block center %}

<h2>Formulário de Professores</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            {{ form.nome }}
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">CPF</label>
            {{ form.cpf }}
        </div>

        <div class="mb-3">
            <label for="endereco" class="form-label">Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="foto" class="form-label">Telefone</label>
            {{ form.telefone }}
        </div>

        <div class="mb-3">
            <label for="cidade" class="form-label">Data de Nascimento</label>
            {{ form.data_nascimento }}
        </div>

        <div class="mb-3">
            <label for="curso" class="form-label">Salario</label>
            {{ form.salario }}
        </div>

        <div class="mb-3">
            <label for="curso" class="form-label">Data de Contratação</label>
            {{ form.data_contratacao }}
        </div>

        <div class="mb-3">
            <label for="curso" class="form-label">Ativo</label>
            {{ form.ativo }}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock%}